{% extends 'basecard.html' %}

{% block title %}Регистрация{% endblock %}

{% load static %}

{% block content %}





<div class="login-page">

    
    <div class="login-container">
        <div class="login-card">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
            <h2>Registration</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="login-btn" type="submit">Sign up</button>
            </form>
            <div class="signup">
                <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
